<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Red</string>
		<key>puebloOrigen</key>
		<string>Paleta</string>
		<key>sexo</key>
		<integer>1</integer>
		<key>pokemones</key>
		<array>
			<dict>
				<key>orden</key>
				<integer>0</integer>
				<key>nombre</key>
				<string>Horsea</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Agua</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>orden</key>
				<integer>1</integer>
				<key>nombre</key>
				<string>Staryou</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Agua</string>
				<key>nivel</key>
				<integer>40</integer>
			</dict>
		</array>
		<key>medallas</key>
		<array/>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Barack Obama</string>
		<key>puebloOrigen</key>
		<string>Hawaii</string>
		<key>sexo</key>
		<integer>1</integer>
		<key>pokemones</key>
		<array>
			<dict>
				<key>orden</key>
				<integer>0</integer>
				<key>nombre</key>
				<string>Pikachu</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Electrico</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>medallas</key>
		<array/>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Satomi</string>
		<key>puebloOrigen</key>
		<string>Tokio</string>
		<key>sexo</key>
		<integer>0</integer>
		<key>pokemones</key>
		<array>
			<dict>
				<key>orden</key>
				<integer>0</integer>
				<key>nombre</key>
				<string>Electabuzz</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Electrico</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>orden</key>
				<integer>1</integer>
				<key>nombre</key>
				<string>Starmie</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Agua</string>
				<key>nivel</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>orden</key>
				<integer>2</integer>
				<key>nombre</key>
				<string>Pikachu</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Electrico</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>medallas</key>
		<array/>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Blue</string>
		<key>puebloOrigen</key>
		<string>Paleta</string>
		<key>sexo</key>
		<integer>1</integer>
		<key>pokemones</key>
		<array>
			<dict>
				<key>orden</key>
				<integer>0</integer>
				<key>nombre</key>
				<string>Electabuzz</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Electrico</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>orden</key>
				<integer>1</integer>
				<key>nombre</key>
				<string>Starmie</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Agua</string>
				<key>nivel</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>orden</key>
				<integer>2</integer>
				<key>nombre</key>
				<string>Pikachu</string>
				<key>sexo</key>
				<integer>0</integer>
				<key>tipo</key>
				<string>Electrico</string>
				<key>nivel</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>medallas</key>
		<array/>
	</dict>
</array>
</plist>
